 .jumbotron{
    background-image: url("/1.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }

 

 .mbackground{
    background-image: url("/treez.jpg");
    height: 140vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }

 
.legend{

   height: 1vh;
   
}

 
 .carousels{
   height:81vh;
 }

 .footBox{
   box-shadow: 0 0 10px 10px #555;
   background-image: url("/sand2.jpg");
   height: 27vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }

 .navbox{

   background-size: cover;
   background-color: red;
   box-shadow: 0 0 10px 10px red;
 }

 .titleText{
   background-position: center;
  
   background-size: cover;
   height: 100px;
   width: 1000px;
   background-color: red;
 }

 .mainCarousel{
   background-position: center;
  
   background-size: cover;
   height: 600px;
   width: 900px;
    
   background-color:blue;
 }

 .mainPageCarouselPics{
   height: 500px;
   width: 00px;
   border: 20px solid red;
   border-radius: 15px;
    
 }

 .CarouselDiv{
   height: 500px;
   width: 680px;
   box-shadow: 0 0 1px 1px blue;
 }

@font-face{
   font-family: 'rastafari';
   src: url(./fonts/ReggaeBassItalic-LWxD.ttf);
   font-style:normal;
   font-weight:100;
}

.landingTitle{
   font-family: 'rastafari';
   font-weight:100;
}