 .jumbotron{
    background-image: url("/1.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }

 

 .mbackground{
    background-image: url("/palm1.jpg");
    height: 140vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }

 
.legend{

   height: 1vh;
   
}

 
 .carousels{
   height:81vh;
 }

 .footBox{
   box-shadow: 0 0 10px 10px #555;
   background-image: url("/sand2.jpg");
   height: 27vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }

 .navbox{

   background-size: cover;
   background-color:red ;
   box-shadow: 0 0 10px 10px red;
 
 }

 .titleText{
   
  
   background-size: cover;
   max-height: 300px;
   width: 100%;
   color: white;
   font-family: 'rastafari';
   font-weight:200;
   text-align:center;
   margin: auto;
   font-size:430%;
   text-shadow: 2px 2px #00c3ff
    
 }

 .mainCarousel{
   background-position: center;
    
   background-size: cover;
    
   width: 900px;
    
   background-color:blue;
 }

 .mainPageCarouselPics{

   border-radius: 15px; 
 }

 .CarouselDiv{
    
   width: 50%;
   box-shadow: 5px 10px #8b4c4c; 
   margin:auto;
 }

@font-face{
   font-family: 'rastafari';
   src: url(./fonts/ReggaeBassItalic-LWxD.ttf);
   font-style:normal;
   font-weight:100;
}
@font-face{
   font-family: 'rastafari2';
   src: url(./fonts/Jamaica_Aroma.ttf);
   font-style:normal;
   font-weight:100;
}
.aboutustext{
   font-family: 'rastafari2';
   font-weight:200;
   font-size: Large;
   font-size:200%;
   color: white;
   text-align: center;
   overflow: auto;
}
.menuBackground{
   background-size: cover;
   background-color: grey;
   box-shadow: 0 0 10px 10px grey;
   height: 85vh;
   opacity: .3;
   
 }

 @font-face{
   font-family: 'TikiBold';
   src: url(./fonts/TikiBold.ttf);
   font-style:normal;
   font-weight:100;
 }
 @font-face{
   font-family: 'TikiOutline';
   src: url(./fonts/TikiOutline.ttf);
   font-style:normal;
   font-weight:100;
 }
 @font-face{
   font-family: 'TikiTropic';
   src: url(./fonts/TikiTropic.ttf);
   font-style:normal;
   font-weight:100;
 }
 @font-face{
  font-family:'Sura';
  src: url(./fonts/Sura.ttf);
  font-style:normal;
  font-weight:100;
}
.navText{
  font-size: 170%;
  font-weight: bold;

}
.navTextDiv{
  max-height: 400px;
}


 .menuFont{
   font-family:'Sura';
   font-weight:50;
   font-size: 30px;
   color: black;
   text-shadow: 1px 1px grey;

 }
 .menuTextContainer{
   border: 2px solid rgb(177, 172, 172);
   height: 80vh;
   background-color: FloralWhite;
   background-size: cover;
   overflow:auto;
   
 }

.landingTitle{
   font-family: 'rastafari';
   font-weight:200;
   font-size: Large;
   font-size:100%;
}